<template>
	<div>
        <router-view></router-view>
    </div>
</template>
<script>
export default {
    data() {
        return {
            authenticated: auth.check(),
            user: auth.user,
            toquantity: '',
            lists:'',
            toprice:''
        };
    },
    mounted() {
        Event.$on('userLoggedIn', () => {
            this.authenticated = true;
            this.user = auth.user;
        });

        Event.$on('userLogout', () => {
            this.authenticated = false;
            this.user = null;
        });
    },
    methods: {
        logout() {
            alert('logout');
            api.call('post', '/api/logout')
            .then(({data}) => {
                auth.logout();
                this.$router.push('/');
            })
        },
        cartLists(){
            axios.post('/api/cart/list').then(response =>
            {

                    this.lists = response.data.list;
                    this.toprice = response.data.totalprice;
                    this.toquantity = response.data.totalquantity;

            }).catch(({response}) => {

            });
        },
        deleteSession(){
            axios.post('/api/cart/delete').then(response => {
                this.lists = [];
                this.toquantity = '';
                this.toprice =  '';
                this.$router.push('/home');
            });
        },
    }
}
</script>
