/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Nunito');

/*Variables*/
@import 'variables';
@import 'argon';

/*Bootstrap*/
@import '~bootstrap/scss/bootstrap';
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none ;
  margin: 0;
}
/* .navbar-laravel {
   background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
 }*/
.menu{
    box-shadow:1px 1px 1px 1px #dddddf61;
}
.circ{
    width : 40px;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff;
    margin-top: 5px;
    &:hover{
        box-shadow: 0 0 0 3px #f00;
    }
}
.carticon{
    cursor: pointer;
    &:focus{
        outline:none !important;
    }
}
.bg-gradient-primary {
    background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) ;
}
.bg-cyan{
    background: #00c7cf !important;
}
.bg-none{
    background: transparent !important;
}
.style-custom{
    position: relative;
    top: 16px;
    left: 9px;
}
// body {
//     background-color: #F4F4F4;
//     margin: 0;
//     height: 100%;
//   }

  .hello {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-template-areas:
      "left right";
    height: 100%;
  }
  .left, .right {
    padding: 30px;
  }
  .lists{
    list-style-type: none;
    padding: 0;
  }
  .lists li {
    padding: 20px;
    background: white;
    margin-bottom: 8px;
  }
  .right {
    grid-area: right;
    /*background-color: #E9E9E9;*/
  }
  .input-name {
    border: none;
    padding: 20px;
    width: calc(100% - 40px);
    box-shadow: 0 5px 5px lightgrey;
    margin-bottom: 30px;
    outline: none;
  }
  .rm {
    float: right;
    text-transform: uppercase;
    font-size: .8em;
    background: #f9d0e3;
    border: none;
    padding: 5px;
    color: #ff0076;
    cursor:pointer;
  }
.img-logo{
    width: 50px;
}
.showpic{
    width: 30%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}
.btn-purple-gradient{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    transition: all 1s;
    &:hover{
        color: #8e2de2;
        background: transparent;
        border: 1px solid  #4a00e0;
        /*.cart-color {
            color: #8e2de2 !important;
        }*/
    }

}
.btn-blue-gradient{
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    transition: all 1s;
    &:hover{
        color: #2f80ed;
        background: transparent;
        border: 1px solid  #56ccf2;
        /*.cart-color {
            color: #2f80ed !important;
        }*/
    }
}

.btn-lime-gradient{
    box-shadow: 0px 1px 4px 1px rgba(25, 25, 25, 0.32);
    background: linear-gradient(to right, #11998e, #38ef7d);
    .cart-color {
        color: white;
    }
    &:hover{
        color: #38ef7d;
        background: transparent;
        /*border: 1px solid  #11998e;*/
        .cart-color {
            color:  #38ef7d !important;
        }
    }
}

.card{
    pointer-events: cursor;
    .cbody{
        padding: 0rem 1.25rem;
    }
    p{
        margin-top: -13px;
    }
    a{
        color: white;
    }
    .frame{
        height: 240px;
        overflow: hidden;
    }
    .heart{
        font-size: 1.4rem;
        position: relative;
        top: 4px;
        left: 9px;
        color:  #38ef7d;
    }

}
.title{
    position: relative;
    top: -44px;
    color: black;
    font-size: 2.5em;
    margin-bottom: -34px;
    font-weight: bold;
}
.page-item {
    &:active {
        .page-link {
            background: red;
        }
    }
    .page-link{
            background: #f4f4f4;
    }
}
.fixwidth{
    width: 45px;
}
.texthidden{
    width: 14em;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-hover{
    transition: all 1s;
    &:hover{
        .card{

            transform: scale(1.2);
            box-shadow:1px 1px 1px 1px rgba(0,0,0,.5);
            z-index:10;
        }

    }
}
.h100v{
    width: 100vw !important;
    height:600px !important;
}
// #footer {
//     position:fixed;
//     bottom:0;
//     left:0;
//     right:0;
// }
.login-card{
    width: 25rem;
	height: 50%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.wh5px{
    width: 50px;
    height: 50px;
}
.card-header{
    h5{
        padding: 14px;
    }
}
.eye-style{
    top: -24px;
    right: 10px;
    color: #aaafaf;
}
.cur{
    cursor: pointer;
}
.img-slider{
    width: 100%;
    height: 600px;
    img{
        max-width: 100%;
        max-height: 100%;
    }
}



