<template>
	<div class="container-fluid">
	    <div class="row p-5">
	      <div class="col-xl-8 mb-5 mb-xl-0">
	        <div class="card bg-gradient-default shadow">
	          <div class="card-header bg-transparent">
	            <div class="row align-items-center">
	              <div class="col">
	                <h2 class="text-white mb-0">Product details</h2>
	              </div>
	              <div class="col">

	              </div>
	            </div>
	          </div>
	          <div class="card-body">
	            <div class="table-responsive bg-light">
	            <!-- Projects table -->
	            <table class="table align-items-center table-flush">
	              <thead class="">
	                <tr>
	                  <th scope="col"></th>
	                  <th scope="col">QUANTITY</th>
	                  <th scope="col">PRICE</th>
	                  <th scope="col">TOTAL</th>
	                </tr>
	              </thead>
	              <tbody>
	                <tr v-for="(event,key,index) in lists" >
	                  <th scope="row">
	                    <div class="media">
							  <img class="mr-3 img-thumbnail" :src="event.image" alt="Generic placeholder image" style="width:200px;height:200px;"/>
							  <div class="media-body" style="width:100px;">
							    <h5 class="mt-0" style="line-height: 3em;">{{event.name}}</h5>
							    <!-- <p>
							    	Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit,<br>
							    	sed do eiusmod<br>
							    	tempor incididunt ut labore et <br>dolore magna aliqua. Ut enim<br> ad minim veniam,<br>
							    	quis nostrud exercitation
							    </p> -->
							  </div>
							</div>
	                  </th>
	                  <td>
	                    <input type="number" name="quantity" v-model="event.quantity" class="text-center rounded" style="width:50px;line-height: 3em;" @change="addQuantity($event,key)"/>
	                  </td>
	                  <td>
	                    <span style="line-height: 3em;">{{ event.price }}</span>
	                  </td>
	                  <td>
	                    {{ event.quantity * event.price}}
		                  <button class="btn btn-danger" @click="reMove(key)">x</button>
	                  </td>
	                </tr>
	              </tbody>
	            </table>
	          </div>
	          </div>
	        </div>
	      </div>
	      <div class="col-xl-4">
	        <div class="card shadow">
	          <div class="card-header bg-transparent">
	            <div class="row align-items-center">
	              <div class="col">
	                <!-- <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6> -->
	                <h2 class="mb-0">Orders Summary</h2>
	              </div>
	            </div>
	          </div>
	          <div class="card-body">
	            <!-- Chart -->
	            <div class="chart">
	              <ul class="list-group">
				  <li class="list-group-item d-flex justify-content-between align-items-center border-0 bg-none">
				    Items {{toquantity}}

				    <span class="badge bg-none">{{toprice}}mmk</span>
				  </li>

				</ul>
				<hr>

				<ul class="list-group">
				  <li class="list-group-item d-flex justify-content-between align-items-center border-0 bg-none">
				    Total Cost
				    <span class="badge badge-pill">{{toprice}}mmk</span>
				  </li>

				</ul>
				<button class="btn btn-dark text-white w-100" @click.prevent="Checkout">Check Out</button>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
  	</div>
</template>
<script>
export default {
	data() {
		 return {
            authenticated: auth.check(),
            user: auth.user,
            lists: [],
            toquantity: '',
            toprice: '',
            toproduct:''
        };
	},
	mounted() {
        Event.$on('userLoggedIn', () => {
            this.authenticated = true;
            this.user = auth.user;
        });

        Event.$on('userLogout', () => {
            this.authenticated = false;
            this.user = null;
        });
        this.listCart();
        // deleteSession(){
        //     axios.post('/api/cart/delete').then(response => {
        //         console.log(response);
        //     });
        // }
    },
	methods:{
		logout() {
            api.call('post', '/api/logout')
            .then(({data}) => {
                auth.logout();
                this.$router.push('/home');
            })
        },
        addQuantity(event,id){
        	let addquan = {
        	 qvalue : event.target.value
        	};
        	axios.post('/api/cart/update/'+ id,addquan).then(response =>
            {
               // console.log(response);
               this.listCart();
             //   	this.lists = response.data.list;
            	// this.toprice = response.data.totalprice;
            	// this.toquantity = response.data.totalquantity;

            }).catch(({response}) => {
                // console.log(response);

            });
        },
        listCart(){
        	axios.post('/api/cart/list').then(response => {
        	// console.log(response);
                this.lists = response.data.list;
                this.toprice = response.data.totalprice;
                this.toquantity = response.data.totalquantity;
                this.toproduct = response.data.totalproduct;
        	});
        },
        reMove(id){

        	axios.post('/api/cart/remove/'+id).then(response =>
            {
              this.listCart();

             //   	this.lists = response.data.list;
            	// this.toprice = response.data.totalprice;
            	// this.toquantity = response.data.totalquantity;

            }).catch(({response}) => {
                // console.log(response);

            });
        },
        Back(){
        	this.$router.push('/home');
        },
        Checkout() {
            let total = {
                totalquantity : this.toquantity,
                totalprice : this.toprice,
                totalproduct : this.toproduct
            };
            console.log(total);
            axios.post('/api/order', total).then( response => {
                console.log(response);
            }).catch(error => {
                console.log(error);
            });
            // alert(this.lists);
        }
	}
}
</script>

