<template>
    <div class="right">
        <div class="shadow p-5 bg-white">
            <div class="alert alert-warning alert-dismissible fade show" role="alert" v-if="message">
                <strong>{{error}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h2 class="pb-4">Create Product Section</h2>
            <form @keydown="errors.clear($event.target.name)" enctype="multipart/form-data">
                <span class="badge badge-danger" v-if="errors.has('image')" v-text="errors.get('image')"></span>
                    <div v-if="!image" class="mb-5">
                        <h6>Select an image</h6>
                        <input type="file" @change="onFileChange">
                    </div>
                    <div v-else>
                        <img :src="image" class="showpic" name="image"/>
                        <button @click.prevent="removeImage" class="btn btn-danger showpic">Remove image</button>
                    </div>

                    <span class="badge badge-danger" v-if="errors.has('name')" v-text="errors.get('name')"></span>
                    <input type="text" class="input-name" name="productname" v-model="productname" placeholder="Add a product's name">

                    <span class="badge badge-danger" v-if="errors.has('productquantity')" v-text="errors.get('productquantity')"></span>
                    <input type="text" class="input-name" v-model="productquantity" name="productquantity" placeholder="Add a product's quantity">

                    <span class="badge badge-danger" v-if="errors.has('productprice')" v-text="errors.get('productprice')"></span>
                    <input type="text" class="input-name" v-model="productprice" name="productprice" placeholder="Add a product's price">

                    <span class="badge badge-danger" v-if="errors.has('productdesc')" v-text="errors.get('productdesc')"></span>
                    <textarea v-model="productdesc" class="input-name" placeholder="description" name="productdesc"></textarea>

                    <span class="badge badge-danger" v-if="errors.has('chooses')" v-text="errors.get('chooses')"></span>
                    <select class="input-name" multiple v-model="chooses" name="chooses">
                            <option v-bind:value="category.id" v-for="category in categories">{{category.name}}</option>
                    </select>             
                    
                    <button class="btn btn-outline-primary mt-3" @click.prevent="SaveProduct" :disabled="errors.any()">Created</button>
            </form>
        </div>
    </div>
</template>
<script>
class Errors{

    constructor() {
        this.errors = {};
    }

    get(field) {
        if(this.errors[field]){
            return this.errors[field][0];
        }
    }

    record(errors) {
        this.errors = errors;
    }
    clear(field) {
        delete this.errors[field];
    }
    has(field) {
        return this.errors.hasOwnProperty(field);
    }
    any() {
        return Object.keys(this.errors).length > 0;
    }
}
export default {
    data() {
        return {
            image: '',
            productdesc:'',
            productname:'',
            productquantity: '',
            productprice: '',
            categories: [],
            chooses: [],
            message: false,
            errors: new Errors()
        }
    },
    methods: {
        onFileChange(e) {

            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            var image = new Image();
            var reader = new FileReader();
            var vm = this;

            reader.onload = (e) => {
                vm.image = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        removeImage: function (e) {
            this.image = '';

        },
        SaveProduct() {
            let products = {
                image: this.image,
                name: this.productname,
                quantity: this.productquantity,
                price: this.productprice,
                chooses: this.chooses,
                description: this.productdesc
            };
            axios.post('/api/product/store', products).then(response => 
            {
                this.onSuccess(response);                                
			}).catch(({response}) => {
                // console.log(response);
                // this.message = true;
                this.errors.record(response.data.errors);
            });
        },
         onSuccess(response) {
            // console.log(response);
            this.image = '';
            this.productname = '';
            this.productquantity = '';
            this.productprice = '';
            this.chooses = [];
            this.productdesc = '';
            this.message = response.data.message;
            Swal.fire({
                title: 'Success!',
                text: 'You have been created',
                type: 'success',
                confirmButtonText: 'ok'
                });
        }
    },
    mounted() {
       
        axios.get('/api/index').then(response=>{
            this.categories = response.data.allcat;
        }).catch(({response})=>{
            console.log(response.data.message);
        });

        Event.$on('AdCat', () => {
            axios.get('/api/index').then(response=>{
                this.categories = response.data.allcat;
            }).catch(({response})=>{
                console.log(response.data.message);
            });
        });
    }
}
</script>
