<template>
    <div class="left">
        <div class="shadow p-5 bg-white">
            <h2 class="pb-4">Create Category Section</h2>
            <form @keydown="errors.clear($event.target.name)">

                <span class="badge badge-danger" v-if="errors.has('name')" v-text="errors.get('name')"></span>
                <input type="text" name="name" class="input-name" v-model="name" placeholder="Add a category's name">

                <span class="badge badge-danger" v-if="errors.has('description')" v-text="errors.get('description')"></span>
                <input type="text" name="description" class="input-name" v-model="description" placeholder="Add a category' description">

                <button @click.prevent="SaveCategory" class="btn btn-outline-primary" :disabled="errors.any()">Created</button>
            </form>
            <ul class="lists" v-if="message">
                <li class="rm">
                   {{message}}
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
class Errors{

    constructor() {
        this.errors = {};
    }

    get(field) {
        if(this.errors[field]){
            return this.errors[field][0];
        }
    }

    record(errors) {
        this.errors = errors;
    }
    clear(field) {
        delete this.errors[field];
    }
    has(field) {
        return this.errors.hasOwnProperty(field);
    }
    any() {
        return Object.keys(this.errors).length > 0;
    }
}
export default {
    data() {
        return {
            name: '',
            description: '',
            message: '',
            errors: new Errors()
        }
    },
    methods: {
        SaveCategory() {
            let data = {
                name: this.name,
                description: this.description
            };

            axios.post('/api/store',data).then(response => {
                this.onSuccess(response);
            }).catch(({response}) => {
                this.errors.record(response.data.errors);
            });
        },
        onSuccess(response) {
            // console.log(response);
            auth.addCategory();
            this.message = response.data.message;
            this.name = '';
            this.description = '';
            Swal.fire({
                title: 'Success!',
                text: 'You have been created',
                type: 'success',
                confirmButtonText: 'ok'
            });
        }
    }

}
</script>

