<template>
    <div class="">
        <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand pt-0" href="/">
                    <img src="/gugoo.png" alt="shop logo" class="navbar-brand-img">
                </a>
                <ul class="nav align-items-center d-md-none">
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ni ni-bell-55"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="media align-items-center">
                                <img alt="Image placeholder" src="img/3_product1550125001.jpg" class="img-thumbnail rounded-circle avatar avatar-sm" style="width: 50px;height: 50px;">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                            <div class="dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome!</h6>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item">
                                <i class="ni ni-user-run"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Collapse header -->
                    <div class="navbar-collapse-header d-md-none">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="/">
                                    <img src="/gugoo.png">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Form -->
                    <form class="mt-4 mb-3 d-md-none">
                        <div class="input-group input-group-rounded input-group-merge">
                            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="fa fa-search"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Navigation -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link :to="{ path:'/dashboard' }" class="nav-link">Dashboard</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ path: '/'}" class="nav-link">View Website</router-link>
                        </li>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{path:'/dashboard/tables'}" class="nav-link">Tables</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{path:'/dashboard/products'}" class="nav-link">Create Product</router-link>
                        </li>
                        <li class="nav-item">
                            <a v-if="authenticated && user" @click.prevent="logout" class="nav-link">Logout
                            </a>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{path:'/register'}" v-if="authenticated == null" class="nav-link">Register</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="main-content">
            <!-- Top navbar -->
            <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
                <div class="container-fluid">
                <!-- Brand -->
                <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="">Dashboard</a>
                <!-- User -->
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="media align-items-center">
                                <span class="">
                                    <img alt="Image placeholder" src="/img/3_product1550125001.jpg" class="img-thumbnail rounded-circle" style="width: 50px;height: 50px;">
                                </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">{{ user.name }}</span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                            <div class="dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome!</h6>
                            </div>

                            <div class="dropdown-divider"></div>
                            <a v-if="authenticated && user" @click.prevent="logout" class="dropdown-item">Logout
                                <br><i class="fas fa-user-circle"></i> {{ user.name }}
                            </a>
                        </div>
                    </li>
                </ul>
                </div>
            </nav>
            <!-- Header -->
            <div class="header bg-gradient-primary pb-8 pt-md-8">
                <div class="container-fluid">
                    <div class="header-body">
                        <!-- Card stats -->
                        <div class="row">
                            <div class="col-xl-4 col-lg-6">
                                <div class="card card-stats mb-4 mb-xl-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title text-uppercase text-muted mb-0">Products</h5>
                                                <span class="h2 font-weight-bold mb-0">{{ prodNumber }}</span>
                                            </div>
                                            <div class="col-auto">
                                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                                <i class="fas fa-chart-bar"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="card card-stats mb-4 mb-xl-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                                                <span class="h2 font-weight-bold mb-0">{{uno}}</span>
                                            </div>
                                            <div class="col-auto">
                                                <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                                <i class="fas fa-users"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="card card-stats mb-4 mb-xl-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title text-uppercase text-muted mb-0">Categories</h5>
                                                <span class="h2 font-weight-bold mb-0">{{catNumber}}</span>
                                            </div>
                                            <div class="col-auto">
                                                <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                                    <i class="fas fa-chart-pie"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page content -->
            <div class="">
                <router-view class="container-fluid mt--7"/>
            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-xl-between justify-content-center">
                        <div class="col-xl-12 col-md-12">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2019 . Make With love by <i class="text-primary">Thet Wai Aung .</i>
                        </div>
                        </div>
                        <!-- <div class="col-xl-6">
                        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                            <li class="nav-item">
                            <a href="https://thetwaiaung.netlify.com" class="nav-link" target="_blank">Rina</a>
                            </li>
                            <li class="nav-item">
                            <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                            <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                            <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                            </li>
                        </ul>
                        </div> -->
                    </div>
                </div>
            </footer>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            authenticated: auth.check(),
            user: auth.user,
            uno : '',
            catNumber: '',
            prodNumber: '',
        };
    },
    mounted() {
        Event.$on('userLoggedIn', () => {
            this.authenticated = true;
            this.user = auth.user;
        });

        Event.$on('userLogout', () => {
            this.authenticated = false;
            this.user = null;
        });
        this.userNumber();
        this.categoriesNumber();
        this.productNumber();
    },
    methods: {
        logout() {
            api.call('post', '/api/logout')
            .then(({data}) => {
                auth.logout();
                this.$router.push('/');
            })
        },
        userNumber() {
          axios.get('/api/user/index').then(response => {

            this.uno = response.data.number;
          });
        },
        categoriesNumber(){
            axios.get('/api/index').then(response => {
                // console.log(response.data.allcat.length);
                this.catNumber = response.data.allcat.length;
            }).catch(error => {
                console.log(error);
            });
        },
        productNumber(){
            axios.get('/api/product/index').then(response => {
                // console.log(response);
                this.prodNumber = response.data.products.length;
            }).catch(error => {
                console.log(error);
            });
        }
    }

}
</script>
