<template>
	<div>
		<h1 class="bg-danger text-center text-white">Edit Category</h1>
		<div class="shadow p-5 bg-white">
            <h2 class="pb-4">Create Category Section</h2>
            <form>
                
                <input type="text" name="name" class="input-name" v-model="catvalue.name" placeholder="Add a category's name">
                
                <input type="text" name="description" class="input-name" v-model="catvalue.description" placeholder="Add a category' description">

                <button @click.prevent="Edit" class="btn btn-outline-primary">Edited</button>
            </form>
        </div>
	</div>
</template>
<script>
export default{
	data() {
		return {
			catvalue: {},
		}
	},
	computed: {
		id() {
			return this.$route.params.id;
		}
	},
	mounted(){
		axios.get('/api/edit/'+ this.$route.params.id).then( response=>{
			this.catvalue = response.data;
        }).catch(({response}) => {
            console.log(response);
        });
	},
	methods: {
		Edit(){
			axios.post('/api/update/' + this.$route.params.id, this.catvalue).then(response =>{
				alert('success');
			});
		}
	}
}
</script>