<template>
	<div>
		<h1 class="bg-gradient-primary text-center text-white mb-0 mt-5 p-2">Edit Product Section</h1>
		<div class="shadow p-5 bg-white">
                    
            <form enctype="multipart/form-data" @keydown="errors.clear($event.target.name)">
                <span class="badge badge-danger" v-if="errors.has('image')" v-text="errors.get('image')"></span>
                <div v-if="!product.image_url" class="mb-5">
                    <h6>Select an image</h6>
                    <input type="file" @change="onFileChange">
                </div>
                <div v-else>
                    <img :src="product.image_url" class="showpic" name="image"/>
                    <button @click.prevent="removeImage" class="btn btn-danger showpic">Remove image</button>
                </div>

                <span class="badge badge-danger" v-if="errors.has('name')" v-text="errors.get('name')"></span>
                <input type="text" class="input-name" name="name" v-model="product.name" placeholder="Add a product's name">

                <span class="badge badge-danger" v-if="errors.has('quantity')" v-text="errors.get('quantity')"></span>
                <input type="text" class="input-name" name="quantity" v-model="product.quantity" placeholder="Add a product's quantity">

                <span class="badge badge-danger" v-if="errors.has('price')" v-text="errors.get('price')"></span>
                <input type="text" class="input-name" name="price" v-model="product.price" placeholder="Add a product's price">

                <span class="badge badge-danger" v-if="errors.has('prodescription')" v-text="errors.get('prodescription')"></span>
                <textarea name="prodescription" v-model="product.prodescription" class="input-name" placeholder="description"></textarea>

                <span class="badge badge-danger" v-if="errors.has('chooses')" v-text="errors.get('chooses')"></span>
                <select class="input-name" multiple v-model="chooses" name="chooses">
                        <option v-bind:value="category.id" v-for="category in categories">{{category.name}}</option>
                </select>             
                
                <button class="btn btn-outline-primary mt-3" @click.prevent="EditProduct" :disabled="errors.any()">Edit</button>
            </form>
            <ul class="lists" v-if="message">
                <li class="rm">
                   {{message}}
                </li>
            </ul>
        </div>
	</div>
</template>
<script>
class Errors{

    constructor() {
        this.errors = {};
    }

    get(field) {
        if(this.errors[field]){
            return this.errors[field][0];
        }
    }

    record(errors) {
        this.errors = errors;
    }
    clear(field) {
        delete this.errors[field];
    }
    has(field) {
        return this.errors.hasOwnProperty(field);
    }
    any() {
        return Object.keys(this.errors).length > 0;
    }
}
export default{
	data() {
		return {
			product: {},
			categories:{},
			chooses:[],
            message: '',
            errors: new Errors()
		}
	},
	computed: {
		id() {
			return this.$route.params.id;
		}
	},
	mounted(){
		axios.get('/api/product/edit/'+ this.$route.params.id).then( response=>{
            console.log(response.data);
			this.product = response.data.product;
            if(this.product.images ==''){
                this.product.images= '';
                this.product.image_url = '';
            }
			this.categories = response.data.categories;
			this.chooses = response.data.chooses;
        }).catch(({response}) => {
            this.errors.record(response.data.errors);
        });
	},
	methods: {
		 onFileChange(e) {

            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            
            var image = new Image();
            var reader = new FileReader();
            var vm = this.product;

            reader.onload = (e) => {
                // console.log(e.target.result);
                vm.image_url = e.target.result;
                vm.images = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        removeImage: function (e) {
            this.product.images= '';
            this.product.image_url = '';

        },

		EditProduct(){
			let products = {
                image: this.product.images,
                name: this.product.name,
                quantity: this.product.quantity,
                price: this.product.price,
                chooses: this.chooses,
                prodescription: this.product.prodescription
            };
			axios.post('/api/product/update/' + this.$route.params.id,products).then(response =>{
                // console.log(response);
                this.onSuccess(response);
			}).catch(({response}) => {
            	this.errors.record(response.data.errors);
        	});
		},
        onSuccess(response) {
            this.message = response.data.message;
            Swal.fire({
                title: 'Update!',
                text: 'You have been updated',
                type: 'success',
                confirmButtonText: 'ok'
                });
        }
	}
}
</script>
