<template>
    <div class="">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner img-slider">
                <div class="carousel-item active first-slide">
                    <img class="d-block w-100 img-fluid h100v" src="https://source.unsplash.com/random" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-fluid h100v" src="https://source.unsplash.com/random" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-fluid h100v" src="https://source.unsplash.com/random" alt="Thire slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="d-flex flex-wrap justify-content-center mt-3">
            <div class="p-2" v-for="product,index in pdata">
            <!-- <div class="card-hover p-2" v-for="product,index in pdata">               -->
                <div class="card" style="width:20em;">
                    <img class="card-img-top frame" :src="getImgUrl(index)" alt="Card image cap">
                    <div class="card-body" >
                        <h5 class="card-title text-info">{{ product.name }} </h5>
                        <p><span class="badge badge-info text-white">{{ product.price }} mmk</span></p>
                        <div class="d-flex flex-wrap">
                            <span class="badge badge-pill badge-primary" v-for="cat in product.categories">{{ cat.name}}</span>
                        </div>
                    </div>
                    <div class="p-2">
                        <button class="btn btn-warning text-white w-100" @click="addToCart(product.id,index)">Shop now <i class="fas fa-shopping-cart cart-color"></i></button>
                        <!-- <a href="" class="heart"><i class="far fa-heart text-warning cart-color"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-cyan pt-4 pb-4 text-center text-white mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fas fa-truck"></i>
                        <h6>Free shipping</h6>
                        <p>We offer free shipping on all your orders.</p>
                    </div>
                    <div class="col-md-4">
                        <!-- <div style="
                        border: 1px dotted #fff;
                        padding: 7px 11px 7px 11px;
                        border-radius: 50%;
                        margin-bottom: 10px;"> -->
                         <i class="fas fa-check"></i>
                        <!-- </div>  -->
                        <h6>Lifetime Warranty</h6>
                        <p>We stand behind every product we make.</p>
                    </div>
                    <div class="col-md-4">
                        <i class="fas fa-usd"></i>
                        <h6>Easy Returns</h6>
                        <p>Return shipping is on us. Shop Worry-Free.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {

    data() {
        return {
            pdata: [],
            empty: false,
        }
    },

    mounted() {
        axios.get('/api/product/index').then( response => {
            // console.log(response.data);
            this.pdata = response.data.products;
        }).catch(error => {
            // console.log(error);
            if (error.response.status === 401) {
                console.log('unauthorized, logging out ...');
                // auth.logout();
                // router.replace('/login');
            }
            // return Promise.reject(error.response);
            // console.log(response);
        });
        // axios.get('/api/user').then( response => {
        //     console.log(response);
        // }).catch( error => {
        //     console.log(error);
        // })

    },
    methods:{
        getImgUrl(index) {

            var images = '/img/'+this.pdata[index].images;
            return images;
        },
        addToCart($id,index){
            let addProdcutlist = {
                'id' : $id,
                'productname' : this.pdata[index].name,
                'productprice' : this.pdata[index].price
            };
            this.onCart(addProdcutlist);
        },
        onCart(value){
            axios.post('/api/cart/add', value).then(response =>
            {
                console.log(response);
                this.onSuccess(response);
            }).catch(({response}) => {
                console.log(response);
                // this.message = true;
                // this.errors.record(response.data.errors);
            });
        },
        onSuccess(response){
            Swal.fire({
                title: 'Success!',
                text: 'Your has been added',
                type: 'success',
                confirmButtonText: 'ok'
            });
            console.log(response.data);
        }

    }
}
</script>

