<template>
    <div>
        <div class="menu bg-gradient-primary">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand pb-3 text-white" href="#">
                        <img :src="'/gugoowhite.png'" alt="shop logo" class="img-logo">
                    </a>
                    <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto ml-auto pt-4 pb-3">
                            <li class="nav-item" v-if="authenticated && user.is_admin == 1">
                                <router-link :to="{path:'/dashboard'}" class="nav-link text-white">Dashboard</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{path:'/home'}" class="nav-link text-white">Home</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{path:'/checkout'}" class="nav-link text-white">Checkout</router-link>
                            </li>
                        </ul>
                        <div class="form-inline my-2 my-lg-0">
                            <ul class="navbar-nav align-items-center d-none d-md-flex" v-if="authenticated && user">
                                <li class="nav-item">
                                    <button type="button" class="border-0 bg-none carticon" data-toggle="modal" data-target="#exampleModalLong" @click="cartLists()"><span class="badge badge-pill badge-warning style-custom text-white">{{toquantity}}</span><i class="fas fa-shopping-cart text-white nav-link cur"></i></button>
                                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Cart Lists</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">

                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">picture</th>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Quantity</th>
                                                            <th scope="col">Price</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(event,key,index) in lists" >
                                                            <td>{{++index}}</td>
                                                            <td>
                                                                <img :src="event.image" class="img-fluid" style="width:60px;height: 60px;"/>
                                                            </td>
                                                            <td>
                                                                {{ event.name }}
                                                            </td>
                                                            <td>
                                                                {{event.quantity}}
                                                            </td>
                                                            <td>
                                                                {{ event.quantity * event.price}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="3">Total</th>
                                                            <td>{{toquantity}}</td>
                                                            <td>{{toprice}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteSession()">delete all</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="checkPage()">See detail</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="media align-items-center">
                                            <span class="">
                                                <img alt="Image placeholder" src="img/3_product1550125001.jpg" class="img-thumbnail rounded-circle" style="width: 50px;height: 50px;">
                                            </span>
                                            <div class="media-body ml-2 d-none d-lg-block">
                                                <span class="mb-0 text-sm  font-weight-bold">{{ user.name }}</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                                        <div class=" dropdown-header noti-title">
                                            <h6 class="text-overflow m-0">Welcome!</h6>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a @click.prevent="logout" class="dropdown-item">
                                            <i class="ni ni-calendar-grid-58"></i>Logout
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <ul v-else class="navbar-nav align-items-center d-none d-md-flex" >
                                <li class="nav-item">
                                    <i class="fas fa-shopping-cart text-white nav-link cur"></i>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{path:'/login'}" class="nav-link text-white">Login</router-link>
                                </li>
                                <li class="nav-item" v-if="authenticated == false">
                                    <router-link :to="{path:'/register'}" class="nav-link text-white">Register</router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <router-view></router-view>
    </div>
</template>
<style>
    a{
        cursor: pointer;
    }
</style>

<script>

export default {
    data() {
        return {
            authenticated: auth.check(),
            user: auth.user,
            lists: [],
            toquantity: '',
            toprice: ''
        };
    },
    mounted() {
        Event.$on('userLoggedIn', () => {
            this.authenticated = true;
            this.user = auth.user;
        });
        Event.$on('userLogout', () => {
            this.authenticated = false;
            this.user = null;
        });
    },
    methods: {
        logout() {
            api.call('post', '/api/logout')
            .then(({data}) => {
                auth.logout();
                this.$router.push('/home');
            })
        },
        cartLists(){
            axios.post('/api/cart/list').then(response =>
            {
                this.lists = response.data.list;
                this.toprice = response.data.totalprice;
                this.toquantity = response.data.totalquantity;

            }).catch(({response}) => {

            });
        },
        deleteSession(){
            axios.post('/api/cart/delete').then(response => {
                this.lists = [];
                this.toquantity = '';
                this.toprice =  '';
                this.$router.push('/home');
            });
        },
        checkPage(){
            this.$router.push('/about');
        }
    }
}
</script>

