<template>
    <div class="container">
        <div class="login-card card mx-auto">
            <div class="card-header border-bottom-0 bg-transparent mb-0">
                <div class="rounded-circle bg-info mx-auto wh5px">
                    <h5 class="text-center text-white"><i class="fas fa-lock"></i></h5>
                </div>
            </div>
            <div class="card-body">
               <div class="form-group">
                    <div class="col-md-12">
                        <input class="form-control" type="text" name="username" v-model="username" placeholder="email@mail.com" required>
                    </div>
                </div>
                <div class="form-group mb-0">
                    <div class="col-md-12">
                        <input class="form-control" type="password" name="password" v-model="password" required placeholder="password">
                    </div>
                </div>
                <label for="message" class="col-md-12 col-form-label text-md-lef text-danger" v-if="status== true">*{{message}}</label>
                <div class="form-group mt-3">
                    <div class="col-md-12">
                        <button @click="login" class="btn btn-primary form-control">Log In</button>
                    </div>
                </div>
            </div>
            <p class="text-center mt-5">Don't have account? <a href="/register" class="text-primary">Sign Up</a> Now</p>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            username: '',
            password: '',
            message: '',
            status: false,
        };
    },
    methods: {
        login() {
            let data = {
                username: this.username,
                password: this.password
            };
            axios.post('/api/login', data)
            .then(({data}) => {
                console.log("hello" + data);
                if(data.user.is_admin == 1) {
                    auth.login(data.token, data.user);
                    this.$router.push('/dashboard');
                } else {
                    auth.login(data.token, data.user);
                    this.$router.push('/');
                }

            })
            .catch(({response}) => {
                console.log(response);
                this.status = true;
                this.message = response.data.message;
            });
        }
    }
}
</script>

