<template>
	<div class="hello row mt-5">
	    <CreateCategory></CreateCategory>
	    <CreateProduct></CreateProduct>
	</div>
</template>
<script>
import CreateProduct from '../views/CreateProduct.vue'
import CreateCategory from '../views/CreateCategory.vue'
export default {
	components: {
        CreateProduct,
        CreateCategory
    }
}
</script>
