<template>
<div>
    <div class="container">
        <div class="login-card card mx-auto" v-if="test == true">
            <div class="card-header border-bottom-0 bg-transparent mb-0">
                <h5 class="text-center text-warning">You have been created.</h5>
            </div>
        </div>
        <div class="login-card card mx-auto" v-else>
            <div class="card-header border-bottom-0 bg-transparent mb-0">
                <div class="rounded-circle bg-info mx-auto wh5px">
                    <h5 class="text-center text-white"><i class="fas fa-user"></i></h5>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" v-model="name" class="form-control" placeholder="username" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" v-model="email" class="form-control" placeholder="email@email.com" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">

                            <input :type="passwordType" id="password" v-model="password" placeholder="**********" class="form-control">
                            <i class="float-right position-relative eye-style cur fas" :class="[passwordIcon]" @click="hidePassword = !hidePassword"></i>
                        </div>
                    </div>
                    <div class="form-group mb-5">
                        <div class="col-md-12">
                            <button @click="Save" class="btn btn-primary form-control">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    data() {
        return {
            authenticated: '',
            user: '',
            name: '',
            email: '',
            password: '',
            status: '',
            hidePassword: true,
            test: false,
        }
    },
    mounted () {
        Event.$on('userLoggedIn', () => {
            this.authenticated = true;
            this.user = auth.user;
        });
        Event.$on('userLogout', () => {
            this.authenticated = false;
            this.user = null;
        });
        this.userCheck();
    },
    computed: {
      passwordType() {
        return this.hidePassword ? 'password' : 'text'
      },
      passwordIcon() {
        return this.hidePassword ? 'fa-eye' : 'fa-eye-slash'
      }
    },
    methods: {
        Save() {
            let data = {
                name: this.name,
                email: this.email,
                password: this.password
            };
            axios.post('/api/register', data).then(response => {
                console.log(response);
                auth.login(response.data.token, response.data.user);
                this.$router.push('/');

            }).catch(({response}) => {
                // alert(response.data.message);
                this.onWarning(response.data.message);
            });
        },
        onWarning(message){
            var customText = message;
            Swal.fire({
                title: 'Warning!',
                text:  customText,
                type: 'warning',
                confirmButtonText: 'ok'
            });
            // console.log(response.data);
        },
        onCheckClient(user) {

            axios.post('/api/gettokenuser', user).then(response => {
                auth.register(response.token, response.user);

            }).catch(error => {
                console.log(error);
            });
        },
        userCheck(){
            if(auth.user.length === 0){
                this.test = false;
                console.log(this.test);
            } else {
                this.test = true;
                console.log(this.test);
            }
        },
    }
}
</script>

