<template>
	<div class="row mt-5">
      <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Categories Lists</h3>
              </div>
              <div class="col text-right">
                <a href="#" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="cat,index in catdata">
                  <th scope="row">
                    {{ cat.name }}
                  </th>
                  <td>
                    {{ cat.description }}
                  </td>
                  <td class="text-center">
                  	<router-link :to="{ name: 'editcategory', params:{ id: cat.id }}" class="btn btn-warning">
                  		<i class="fas fa-pen-fancy text-white"></i>
                  	</router-link>

                   	<button class="btn btn-danger" @click="CatDelete(cat.id,index)"><i class="far fa-trash-alt text-white"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination :data="categories" @pagination-change-page="getResults" class="justify-content-center mt-4"></pagination>
          </div>
        </div>
      </div>
      <div class="col-xl-12 mt-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Products Lists</h3>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Images</th>
                  <th scope="col">Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="product,index in prodata">
                  <th scope="row">
                    <img :src="getImgUrl(index)" class="img-fluid fixwidth">
                  </th>
                  <th scope="row">
                    {{ product.name }}
                  </th>
                  <td>
                    <span class="badge badge-danger">{{ product.quantity }}</span>
                  </td>
                  <td>
                    {{ product.price }}
                  </td>
                  <td>
                  	<router-link :to="{ name: 'editproduct', params:{ id: product.id }}" class="btn btn-warning">
                  		<i class="fas fa-pen-fancy text-white"></i>
                  	</router-link>

                   	<button class="btn btn-danger" @click="ProductDelete(product.id,index)"><i class="far fa-trash-alt text-white"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination :data="products" @pagination-change-page="getProducts" class="justify-content-center mt-4"></pagination>
          </div>
        </div>
      </div>
    </div>
</template>
<script>

export default {
	data() {
		return {
			catdata:[],
			categories: {},
			prodata:[],
			products: {}
		}
	},
	mounted() {
		this.getResults();
		this.getProducts();
	},
	methods: {
		getResults(page) {
			if( typeof page === 'undefined') {
				page = 1;
			}
			axios.get('/api/index?page=' + page).then(response=>{
                // console.log(response.data);
                this.categories = response.data.categories;
                this.catdata = response.data.categories.data;
                // this.catdata = response.data.data;
            }).catch(({response})=>{
                console.log(response.data);
        	});
		},
		getProducts(page) {
			if( typeof page === 'undefined') {
				page = 1;
			}
			axios.get('/api/product/index?page=' + page).then(response=>{
        console.log(response.data.propage.data);
        this.products = response.data.propage;
        this.prodata = response.data.propage.data;
      }).catch(({response})=>{
          console.log(response);
      });
		},
    getImgUrl(index) {
      var images = '/img/'+this.prodata[index].images;
      return images;
    },
		CatDelete(id,index) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        // console.log(result);
        if (result.value) {
			    axios.post('/api/delete/' + id).then(response => {
				    this.catdata.splice(index,1);
            Swal.fire(
              'Deleted!',
              'success'
            )
          });
        }
			});
		},
    ProductDelete(id,index) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        // console.log(result);
        if (result.value) {
          axios.post('/api/product/delete/' + id).then(response => {
            this.prodata.splice(index,1);
            this.onSuccess(response);
          });
        }
      });
      //
    },
    onSuccess(response){
      Swal.fire(
        'Deleted!',
        'Image has been deleted.',
        'success'
      )
    }

	}

}
</script>
